/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*


 */
#site_title {
	text-align: center;
	background: #95C3EF;
	padding-top: 20px;
	margin-top: 0px;
	/*[empty]width:;*/
	/*[empty]height:;*/
	line-height: 2;
	color: #FCFCFD;
}

.nav {
	border: 1px solid #CCC;
	border-width: 1px 0;
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

.nav li {
	display: inline;
}

.nav a {
	display: inline-block;
	padding: 10px;
	text-decoration: none;
}

body {
	font-family: Arial;
}

.resourceFilter a {
	margin-right: 10px;
	color: #666;
	text-decoration: none;
}

.resourceFilter a.current {
	font-weight: bold;
}

img {
	margin: 5px;
}

.isotope-item {
	margin: 2px;
	background-color: #FFFF00;

	z-index: 2;
}

.isotope-hidden.isotope-item{
	pointer-events: none;
	z-index: 1;
}

.isotope, .isotope .isotope-item {
	/*change duration value to whatever you like*/
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}