/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*/

html { 
  background: url(shelf.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 60px;
}
#banner {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 90px;
	margin: 0 auto;
	background-color: rgba(255,255,255,0.5)
}
#header {
font-family: 'Arial Narrow', Arial, sans-serif;
font-size: 50px;
color: white;
position: absolute;
left: 10px;
top: 0px;
text-shadow: 2px 2px 4px #767676;
margin: 0;
}
#tagline{
	color: white;
	text-shadow: 2px 2px 4px #767676;
	top: 0px;
}
body
{
	font-family: Arial;
}
INPUT#course_title
{
	border:4px solid #456879;
	border-radius:10px;
	height: 22px;
	width: 230px;
	font-size: 44px;
}
.resourceFilter A
{
	margin-right: 10px;
	color: white;
	text-decoration: none;
}
.resourceFilter A.current
{
	font-weight: bold;
}
IMG
{
	margin: 5px;
}
.isotope-item
{
	margin: 2px;
	background-color: #FFFF00;
	z-index: 2;
}
.isotope-hidden.isotope-item
{
	pointer-events: none;
	z-index: 1;
}
.isotope, .isotope .isotope-item
{
	/*change duration value to whatever you like*/
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	transition-duration: 0.8s;
}
.isotope
{
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	transition-property: height, width;
}
.isotope .isotope-item
{
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	transition-property: transform, opacity;
}
.course-container{
	text-align: center;
}
#new-course-form{
	width: 350px;
	height: 28px;
	padding: 12px 10px 12px 40px;
	border: none;
	border-top: 1px solid #007896;
	font-family: 'Heveltica', sans-serif;
	font-weight: 100;
	font-size: 24px;
	color: #000;
	background: url('search-icon.png') no-repeat 15px #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.new-unit-field{
	text-align: center;
	display: none;
}
#new-unit-form{
	width: 150px;
	height: 5px;
	padding: 12px 10px 12px 40px;
	border: none;
	font-family: 'Heveltica', sans-serif;
	font-weight: 100;
	font-size: 19px;
	color: #000;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	visibility: none;
}
#btn-submit-course {
	border-radius: 5px;
	height: 28px;
	border: none;
	font-size: 24px;
	height: 28px;
	background: red;
	color: white;
	vertical-align: middle;
}
#btn-submit-unit {
	border-radius: 5px;
	height: 28px;
	border: none;
	font-size: 24px;
	height: 28px;
	background: red;
	color: white;
	vertical-align: top;
}
.unit-container {
	visibility: none;
}
.next-step {
	color:white;
}
.resource-form {
	text-align: center;
	color: white;
}
#course-title{
	color:white;
	text-align: right;
	font-size: 50px;
	text-shadow: -2px 5px 10px rgba(0, 0, 0, 1);
}
.resourceFilter {
	text-align: center;
}