<!DOCTYPE html>
<html>
<head>
  <title>Paths</title>
  <%= stylesheet_link_tag ""application", media: "all"" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="body paths clearfix">
  <a href="/"><img class="logo" src="/images/logo.png" data-rimage data-src="images/logo.png"></a>

  <div class="menubar"></div>
  <div class="slogan">Your Personal Learning Journey</div>
<br>
<%= yield %>

</body>
</html>