<!DOCTYPE html>
<html>
<head>
  <title>Paths</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1 id="site_title">Paths</h1>

 <ul class ="nav">
   <li><a href="/">Home</a></li>
   <li><a href="/courses">Courses</a></li>
   <li><a href="/resources">Resources</a></li>   
 </ul>

<%= yield %>

</body>
</html>
