<!DOCTYPE html>
<html>
<head>
  <title>Paths</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="header">
    <!-- <h1 id="title">Paths</h1> -->
    <img src="/images/logo.png" id="logo">
    <ul class="nav-items">
      <!-- <li>SignIn</li> -->
    </ul>
<!--     <h2 id="tagline">Finding your way to learning</h2> -->
</div>

<%= yield %>

</body>
</html>
